PAY_GOV_DEV_SERVER_ACCESS_TOKEN='asdf123'
ARTILLERY_TARGET=https://dev-payments.ustaxcourt.gov
ARTILLERY_LAMBDA_ROLE_ARN=
ARTILLERY_DEBUG_HEADERS=0
ARTILLERY_DEBUG_RESPONSES=0
ARTILLERY_LAMBDA_COUNT=5
ARTILLERY_LAMBDA_REGION=us-east-1
