BASE_URL="https://stg-payments.ustaxcourt.gov"

PAYGOV_QA_CC_SUCCESS_PAN="4111111111111111"
PAYGOV_QA_CC_SUCCESS_EXP="04/30"
PAYGOV_QA_CC_SUCCESS_CVV="111"
PAYGOV_QA_CC_SUCCESS_NAME="Staging E2E"

PAYGOV_URL_SUCCESS=https://example.com
PAYGOV_URL_CANCEL=https://example.com

# Login to AWS and run `aws sts get-session-token` to get these values
