API_ACCESS_TOKEN_SECRET_ID="some-token"
BASE_URL=https://portal.example.com
CERT_PASSPHRASE=""
NODE_ENV="development"
PAY_GOV_DEV_SERVER_TOKEN_SECRET_ID="development-token"
PAYMENT_URL=https://pay.gov.example.com/path/to/payment/page
SOAP_URL=https://pay.gov.example.com/wsdl
SUBDOMAIN=""
TCS_APP_ID=asdf-123

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=mydb

# API Configuration
API_PORT=3001
