BASE_URL="https://xxxxxxxx.execute-api.us-east-1.amazonaws.com/stg"

PAYGOV_QA_CC_SUCCESS_PAN="XXXXXXXXXXXXXXXX"
PAYGOV_QA_CC_SUCCESS_EXP="04/30"
PAYGOV_QA_CC_SUCCESS_CVV="111"
PAYGOV_QA_CC_SUCCESS_NAME="Staging E2E"

PAYGOV_URL_SUCCESS=https://example.com
PAYGOV_URL_CANCEL=https://example.com

# Login to AWS and run `aws sts get-session-token` to get these values
# or login to AWS to get credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_SDK_LOAD_CONFIG=1
