BASE_URL="http://localhost:8080"
CLIENT_PERMISSIONS_SECRET_ID="ustc/pay-gov/dev/client-permissions"
# Node runtime mode. One of: development | production | test.
NODE_ENV="development"
# Deployment topology of this service. One of: local | dev | stg | prod | test.
APP_ENV="local"
PAY_GOV_DEV_SERVER_TOKEN_SECRET_ID="development-token"
# These can be local host of our mock pay.gov test server, or the URL of the hosted version of the mock pay.gov test server.
# Point to LOCAL Pay.gov test server
SOAP_URL="http://localhost:3366/wsdl"
PAYMENT_URL="http://localhost:3366/pay"

# Database Configuration
# Only need to worry about local DB config here since in other environments we will pull from Secrets Manager + RDS_ENDPOINT in Terraform
DB_HOST=localhost
DB_PORT=5433
DB_USER=user
DB_PASSWORD=password
DB_NAME=mydb

# API Configuration
API_PORT=8080

# CORS Configuration - set to your Dashboard URL
# localhost:3000 (local) || https://dashboard.dev-payments.ustaxcourt.gov
DASHBOARD_ALLOWED_ORIGIN="http://localhost:3000"
