API_ACCESS_TOKEN="some-token"
BASE_URL=https://portal.example.com
CERT_PASSPHRASE=""
FLAG_SOAP_CLIENT="http"
NODE_ENV="local"
PAY_GOV_DEV_SERVER_TOKEN="token-for-you"
PAYMENT_URL=https://pay.gov.example.com/path/to/payment/page
SOAP_URL=https://pay.gov.example.com/wsdl
SUBDOMAIN=""
