# package directories
node_modules
jspm_packages

.env*
!.env.example
!.env.staging.local.example


/certs/**
/resources/**

coverage/
test-results/
playwright-report/
blob-report/

dist/

*.tgz
.DS_Store

# Artillery
src/test/performance/artillery/results/**/*.json

# Terraform
terraform/modules/**/.terraform/
terraform/modules/**/.terraform.lock.hcl

# Playwright test results
failure-summary.json
