# package directories
node_modules
jspm_packages

.env*
!.env.example


/certs/**
/resources/**

coverage/

dist/

*.tgz
.DS_Store

# Artillery
src/test/performance/artillery/results/**/*.json

# Terraform
terraform/modules/**/.terraform/
terraform/modules/**/.terraform.lock.hcl
