service: ustc-payment-processor
provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1

useDotenv: true

package:
  individually: true
  include:
    - certs/**

plugins:
  - serverless-esbuild
  - serverless-domain-manager

custom:
  customDomain:
    domainName: ${env:SUBDOMAIN}
    basePath: ""
    autoDomain: true

functions:
  initPayment:
    handler: src/lambdaHandler.initPaymentHandler
    events:
      - http:
          path: init
          method: post
          cors: true
    vpc:
      securityGroupIds:
        - !Ref LambdaSecurityGroup
      subnetIds:
        - !Ref PrivateLambdaSubnet
    environment:
      API_ACCESS_TOKEN: ${env:API_ACCESS_TOKEN}
      CERT_PASSPHRASE: ${env:CERT_PASSPHRASE}
      NODE_ENV: ${env:NODE_ENV}
      PAYMENT_URL: ${env:PAYMENT_URL}
      SOAP_URL: ${env:SOAP_URL}
      PAY_GOV_DEV_SERVER_TOKEN: ${env:PAY_GOV_DEV_SERVER_TOKEN}

  processPayment:
    handler: src/lambdaHandler.processPaymentHandler
    events:
      - http:
          path: process
          method: post
          cors: true
    vpc:
      securityGroupIds:
        - !Ref LambdaSecurityGroup
      subnetIds:
        - !Ref PrivateLambdaSubnet
    environment:
      API_ACCESS_TOKEN: ${env:API_ACCESS_TOKEN}
      CERT_PASSPHRASE: ${env:CERT_PASSPHRASE}
      NODE_ENV: ${env:NODE_ENV}
      PAYMENT_URL: ${env:PAYMENT_URL}
      SOAP_URL: ${env:SOAP_URL}
      PAY_GOV_DEV_SERVER_TOKEN: ${env:PAY_GOV_DEV_SERVER_TOKEN}

  getDetails:
    handler: src/lambdaHandler.getDetailsHandler
    events:
      - http:
          path: details/{appId}/{payGovTrackingId}
          method: get
          cors: true
    vpc:
      securityGroupIds:
        - !Ref LambdaSecurityGroup
      subnetIds:
        - !Ref PrivateLambdaSubnet
    environment:
      API_ACCESS_TOKEN: ${env:API_ACCESS_TOKEN}
      CERT_PASSPHRASE: ${env:CERT_PASSPHRASE}
      NODE_ENV: ${env:NODE_ENV}
      PAYMENT_URL: ${env:PAYMENT_URL}
      SOAP_URL: ${env:SOAP_URL}
      PAY_GOV_DEV_SERVER_TOKEN: ${env:PAY_GOV_DEV_SERVER_TOKEN}

  testCert:
    handler: src/testCert.handler
    events:
      - http:
          path: test
          method: get
          cors: true
    vpc:
      securityGroupIds:
        - !Ref LambdaSecurityGroup
      subnetIds:
        - !Ref PrivateLambdaSubnet
    environment:
      API_ACCESS_TOKEN: ${env:API_ACCESS_TOKEN}
      CERT_PASSPHRASE: ${env:CERT_PASSPHRASE}
      NODE_ENV: ${env:NODE_ENV}
      SOAP_URL: ${env:SOAP_URL}

resources:
  Resources:
    LambdaStaticIp:
      Type: AWS::EC2::EIP
      Properties:
        Domain: vpc

    LambdaVPC:
      Type: AWS::EC2::VPC
      Properties:
        CidrBlock: 10.0.0.0/25
        Tags:
          - Key: Name
            Value: LambdaVPC

    PublicLambdaSubnet:
      Type: AWS::EC2::Subnet
      Properties:
        VpcId: !Ref LambdaVPC
        CidrBlock: 10.0.0.0/28
        AvailabilityZone: us-east-1a
        Tags:
          - Key: Name
            Value: PublicLambdaSubnet

    PrivateLambdaSubnet:
      Type: AWS::EC2::Subnet
      Properties:
        VpcId: !Ref LambdaVPC
        CidrBlock: 10.0.0.32/28
        AvailabilityZone: us-east-1a
        Tags:
          - Key: Name
            Value: PrivateLambdaSubnet

    LambdaInternetGateway:
      Type: AWS::EC2::InternetGateway

    LambdaRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId: !Ref LambdaVPC
        Tags:
          - Key: Name
            Value: PublicRouteTable

    LambdaGatewayAttachment:
      Type: AWS::EC2::VPCGatewayAttachment
      Properties:
        VpcId: !Ref LambdaVPC
        InternetGatewayId: !Ref LambdaInternetGateway

    LambdaRoute:
      Type: AWS::EC2::Route
      DependsOn: LambdaGatewayAttachment
      Properties:
        RouteTableId: !Ref LambdaRouteTable
        DestinationCidrBlock: 0.0.0.0/0
        GatewayId: !Ref LambdaInternetGateway

    LambdaSecurityGroup:
      Type: AWS::EC2::SecurityGroup
      Properties:
        GroupDescription: My Security Group
        VpcId: !Ref LambdaVPC
        SecurityGroupIngress:
          - CidrIp: 0.0.0.0/0
            IpProtocol: -1

    LambdaNatGateway:
      Type: AWS::EC2::NatGateway
      DependsOn: LambdaStaticIp
      Properties:
        AllocationId: !GetAtt LambdaStaticIp.AllocationId
        SubnetId: !Ref PublicLambdaSubnet

    LambdaPrivateRouteTable:
      Type: AWS::EC2::RouteTable
      Properties:
        VpcId: !Ref LambdaVPC
        Tags:
          - Key: Name
            Value: PrivateRouteTable

    LambdaPrivateRoute:
      Type: AWS::EC2::Route
      Properties:
        RouteTableId: !Ref LambdaPrivateRouteTable
        DestinationCidrBlock: 0.0.0.0/0
        NatGatewayId: !Ref LambdaNatGateway

    PublicLambdaSubnetAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId: !Ref PublicLambdaSubnet
        RouteTableId: !Ref LambdaRouteTable

    PrivateLambdaSubnetAssociation:
      Type: AWS::EC2::SubnetRouteTableAssociation
      Properties:
        SubnetId: !Ref PrivateLambdaSubnet
        RouteTableId: !Ref LambdaPrivateRouteTable
