PAY_GOV_DEV_SERVER_ACCESS_TOKEN='asdf123'
ARTILLERY_TARGET=https://dev-payments.ustaxcourt.gov
ARTILLERY_LAMBDA_ROLE_ARN=
ARTILLERY_DEBUG_RESPONSES=0
# Note this is a multiplier for your arrivalRate in the artillery config. So if you have 5 lambdas and an arrivalRate of 10, you will get 50 new VUs per second.
ARTILLERY_LAMBDA_COUNT=2
ARTILLERY_LAMBDA_REGION=us-east-1
